@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&family=Satisfy&display=swap');

body {
  margin: 0;
  background-color: #242424;
  color: #EAEAEA;
  font-family: 'Poppins', sans-serif;
}
